<mat-toolbar style="background-color: pink; color: blueviolet">

    <span>Angular 18</span>
    <span class="spacer"></span>
    <span><mat-icon>person</mat-icon></span>
</mat-toolbar>
 <!-- <mat-toolbar style="background-color: whitesmoke; color: white; height: 50px;">
<span>
 
    <button mat-raised-button [routerLink] = "'/course'" routerLinkActive="active">Course</button>
    
    <button mat-raised-button [routerLink]="'/courseDetails'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Course Details</button>
</span>
</mat-toolbar> -->
<!-- <mat-toolbar style="background-color: lavenderblush; height: 30px; justify-content: right;">
    <span><a routerLink="home" fragment="aboutus">Aboutus</a></span>
    <span><a routerLink="home" fragment="services">Services</a></span>
    <span><a routerLink="home" fragment="products"> Products</a></span>
    <span><a routerLink="home" fragment="careers">Careers</a></span>
    <span><a routerLink="home" fragment="contactus">Contactus</a></span>
</mat-toolbar> -->