
@if(check){
    <ng-container>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione ut consequuntur. Facere sapiente veritatis, tempore sunt, minima rem ipsa odio iure impedit iste eveniet consequatur explicabo voluptate excepturi recusandae?</p>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate doloremque dolore incidunt ratione provident distinctio repellat vitae ea unde molestiae quia tempore mollitia natus, inventore non, quos impedit. Illum, ex.</h3>
        <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam molestiae quae, quam nam, aut molestias sunt, assumenda dolore blanditiis iure error ratione illum harum sed accusantium nesciunt accusamus voluptatum veniam!</h5>
        
    </ng-container>
}

<button mat-flat-button (click)="toggle()">Show/Hide</button>

