<div style="display: flex; justify-content: center;">
    <p style="font-size: 25px; color: brown;">Class Binding</p>
</div>
<mat-divider></mat-divider>
<!-- <div [class]="textColor">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati eligendi, vero nihil veniam ut qui nobis? Architecto, fugit ducimus earum, voluptate harum quis tempore quisquam inventore magnam, beatae neque nesciunt.
</div>
<div [class]="teztSize">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati eligendi, vero nihil veniam ut qui nobis? Architecto, fugit ducimus earum, voluptate harum quis tempore quisquam inventore magnam, beatae neque nesciunt.
</div>
<div [ngClass] = 'myClass'>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa perspiciatis nisi earum nemo quaerat pariatur reiciendis ipsum, quos minima totam. Nihil error aliquid temporibus, enim nam tenetur dolores nobis ea!
</div>
<div [ngClass]="'textColor textSize textLook'">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt reprehenderit vero perferendis iure, unde, voluptates nihil, deleniti itaque eveniet at rem quisquam voluptate nulla dolores? Unde ipsa veniam impedit. Veniam!
</div>

<div [ngClass]="['textColor', 'textSize',  'textLook']">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, esse consequuntur corporis vitae numquam beatae id? Fuga expedita aut, ea quaerat, tenetur sapiente blanditiis perferendis necessitatibus aperiam ipsa neque et.
</div>

<div [ngClass] = "{'textColor': true, 'textSize': false}">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Id facere minus pariatur libero odit beatae. Blanditiis enim veritatis illo, quae, excepturi mollitia architecto autem nam cumque optio alias quidem animi.
</div> -->

<div [ngClass]="{'textColor': 2+2, 'textSize': 10 <= 50}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nostrum ex. Fugiat blanditiis molestias similique impedit repellendus sapiente. Numquam id iste sit rem aspernatur officia at explicabo dignissimos voluptas quisquam?
</div>



