<div style="display: flex; justify-content: center;">
    <p style="font-size: 25px; color: brown;">Class Binding</p>
</div>
<mat-divider></mat-divider>
<!-- <div [class]="textColor">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint iste magnam quibusdam, adipisci sapiente, repudiandae placeat ratione omnis natus et laboriosam qui laudantium provident, accusamus quod eveniet porro praesentium. Facere?
</div>

<div [class]="textSize">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ducimus, iste ullam suscipit fuga deserunt aperiam libero illum iusto neque a, earum itaque est? Neque libero doloribus voluptatum labore in.
</div> -->
<!-- <div [ngClass]="myClass">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, a accusantium. Aliquid est beatae eveniet mollitia ipsum nobis, quod, vero tenetur, nesciunt quis labore nemo. Odit numquam cupiditate placeat totam.
</div> -->

<!-- <div [ngClass]="'textColor textSize'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nulla quis perferendis amet provident tempore vero aliquam dolores, praesentium deleniti! Aliquam odit doloremque ratione, aperiam optio vel perferendis ut eveniet!
</div> -->

<!-- <div [ngClass]="['textColor', 'textSize']">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem consequatur veniam incidunt nesciunt animi, neque maiores voluptates, adipisci aut hic consectetur facilis esse ut ex soluta. Reprehenderit dicta voluptatem temporibus.
</div> -->
<div [ngClass]="{'textColor':  2+2, 'textSize': 10 < 20}">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam velit culpa nostrum tempora magni repellendus quis ad tenetur, eveniet doloremque temporibus asperiores reprehenderit quae quidem molestiae atque nesciunt perferendis beatae.
</div>