<div class="container w-50 mt-3 mx-auto">
    <div class="col-12 mat-elevation-z10 p-2">
        <mat-toolbar style="background-color: pink; width: 100%;">
            Register (Reactive Forms)
        </mat-toolbar>
        
         <form  [formGroup]="registerForm">
            <!-- 1st row -->
            <div class="row d-flex mt-3">
                <div class="col-6">
                    <mat-form-field appearance="outline" style="width:100%" >
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter First Name" formControlName="firstName" >
                        <mat-error>
                           @if(registerForm.controls.firstName.touched && registerForm.controls.firstName.invalid){
                            @if(registerForm.controls.firstName.errors?.required){
                                <span>First Name is Mandatory</span>
                            }
                           } 
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" style="width:100%">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Last Name" formControlName="lastName" >
                    </mat-form-field>
                </div>
            </div>
            <!-- 2nd row -->
             <div class="row d-flex">
                <div class="col-12">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Email:</mat-label>
                        <input matInput type="email" placeholder="Enter Email"  formControlName="email">
                        <mat-error>
                           @if(registerForm.controls.email.touched && registerForm.controls.email.invalid){
                            @if(registerForm.controls.email.errors?.required){
                                <span>Email is Required</span>
                            }
                            @if(registerForm.controls.email.errors?.email){
                                <span>Invalid Email format</span>
                            }
                           }
                        </mat-error>
                    </mat-form-field>
                </div>
             </div>
             <!-- 3rd row -->
              <div class="row d-flex">
                <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Phone:</mat-label>
                        <input matInput placeholder="Enter Phone Number" formControlName="phone">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Date of Birth:</mat-label>
                        <input matInput [matDatepicker]="picker"  formControlName="dob">
                        <mat-hint>MM/dd/YYYY</mat-hint>
                        <mat-datepicker-toggle matTextSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>    
                    </mat-form-field>
                </div>
              </div>
              <!-- 4th row -->
               <div class="row d-flex">
                <div class="col-12">
                    <label>Gender</label>
                    <mat-radio-group formControlName = "gender">
                        <mat-radio-button value="Male" checked>Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                        <mat-radio-button value="other">Prefer Not to say</mat-radio-button>
                    </mat-radio-group>
                </div>
               </div>
            <!-- 5th row -->
           
                <div class="row d-flex">
                    <label>Address:</label>
                    <div class="col-12" formGroupName="address">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Address 1</mat-label>
                            <input matInput placeholder="Enter Address Line 1" formControlName="address1">
                        </mat-form-field>
                    </div>
                 </div>
                 <!-- 6th row -->
                 <div class="row d-flex">
                    <div class="col-12" formGroupName="address">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Address 2</mat-label>
                            <input matInput placeholder="Enter Address Line 2" formControlName="address2">
                        </mat-form-field>
                    </div>
                 </div>
           
               
                <!-- 7th row -->
                 <div class="row d-flex">
                    <div class="col-6" >
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Country:</mat-label>
                            <mat-select formControlName="country">
                                <mat-option value="India">India</mat-option>
                                <mat-option value="USA">USA</mat-option>
                                <mat-option value="Australia">Australia</mat-option>
                                <mat-option value="Japan">Japan</mat-option>
                                <mat-option value="China"> China</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6" >
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>City:</mat-label>
                            <input matInput placeholder="Enter City name" formControlName="city">
                        </mat-form-field>
                    </div>
                 </div>
                 <!-- 8th row -->
                  <div class="row d-flex">
                    <div class="col-6" >
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Region:</mat-label>
                            <input matInput placeholder="Enter Region" formControlName="region">
                        </mat-form-field>
                    </div>
                    <div class="col-6" >
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Postal Code:</mat-label>
                            <input matInput placeholder="Enter Postal code" formControlName="pin">
                        </mat-form-field>
                    </div>
                  </div>
             
             
             
            
              <!-- 9th row -->
               <div class="row text-center">
                <div class="col-12">
                    <!-- <button mat-raised-button type="submit" [disabled]="!(registerForm.dirty && registerForm.valid)"> Register</button> -->
                    <button mat-raised-button (click)="onClick()"> Register</button>
                </div>
               </div>
         </form>
    </div>
</div>