<div class="container">
    <div class="card w-1/2 mt-3 mx-auto">
        <div class="card-header">
            My Selected Course:
        </div>
        <div class="card-body">
            <div>
                <span class="text-danger"> Id: <span class="text-success">{{myCourse.id}}</span></span> 
            </div>
            <div>
                <span class="text-danger"> Course Name: <span class="text-success">{{myCourse.name}}</span></span> 
            </div>
            <div>
                <span class="text-danger"> Tutor: <span class="text-success">{{myCourse.tutor}}</span></span> 
            </div>
        </div>
        <div class="card-footer">
            <button mat-button (click)="goBack()">Back</button>
            <button mat-button (click)="viewDetails()">View Additional Details</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
