<div style="display: flex; justify-content: center;">
    <p style="font-size: 25px; color: brown;">Style Binding</p>
</div>
<mat-divider></mat-divider>
<!-- <div style="color:blue">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo nemo quaerat eveniet quam asperiores cumque ducimus sequi enim. Commodi error magnam tempore quos libero quisquam aut voluptate obcaecati. Itaque, tenetur?
</div>
<div [style.color] ="textColor">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis atque minus aperiam, maxime tempore ipsam repudiandae ipsum adipisci facere, facilis temporibus suscipit, cupiditate autem ut non totam expedita harum modi.
</div>
<div [style.fontSize]="textSize">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae numquam ullam sequi consequuntur ab similique earum delectus repellat officiis inventore unde perferendis minus, cumque beatae laborum totam minima voluptates laudantium.
</div>

<div [ngStyle]="myStyle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, natus molestias at aut recusandae et veniam harum vero! Magni beatae consectetur reprehenderit doloremque ab molestias. Vero nisi autem reprehenderit quisquam!
</div> -->

<div [ngStyle]=" myValue == 10 ? {color: 'green', fontSize: '50px'} : {color: 'red'}">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat exercitationem explicabo deserunt ipsum! Alias praesentium est, consequuntur, fugit aperiam eveniet ut eligendi distinctio quidem dolore, voluptas similique dignissimos molestias!
</div>

